# Build directories
cmake-build-*/
build/

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
compile_commands.json
CTestTestfile.cmake
Makefile

# CLion
.idea/

# Executables
*.exe
*.out
*.app

# Object files
*.o
*.obj
*.lo
*.a
*.lib
*.so
*.dll
*.dylib

# Debug symbols
*.pdb

# macOS
.DS_Store

# Linux
*~

# Windows
Thumbs.db